# =========================
# Build outputs
# =========================
[Bb]in/
[Oo]bj/

# =========================
# Visual Studio files
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Rider / JetBrains
# =========================
.idea/
*.sln.iml

# =========================
# Build / publish artifacts
# =========================
*.exe
*.dll
*.pdb
*.cache
*.log

# =========================
# NuGet
# =========================
packages/
*.nupkg
*.snupkg
.nuget/

# =========================
# Test results
# =========================
TestResults/
*.trx

# =========================
# OS / system files
# =========================
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# =========================
# Secrets / configs
# =========================
appsettings.Development.json
appsettings.Local.json
secrets.json

# =========================
# ClickOnce
# =========================
*.publish.xml

*.zip

# =========================
# Private local data
# =========================
*.notedbackup
.env
.env.*
!.env.example
*.pfx
*.p12
*.pem
*.key
*.snk
